@import 'common_design.scss';

/*Position*/
.block{
  width: -moz-available;
  width: -webkit-fill-available;
}

@mixin wideblock{
  width: -moz-available;
  width: -webkit-fill-available;
  margin-left:15%;
  margin-right:15%;
}

#state_mainpage > div, footer, header{
    @media #{$desktop}, #{$tablet}{
        @include wideblock;
    }
    text-align: center;
}

header{
    padding-bottom: $gap;
}

footer, .block{
    padding-top: $gap;
    padding-bottom: $gap;

    > p{
        padding: 0px;
        margin: 0px;
    }
}

#state_openhashtag > div{
    @media #{$tablet}{
        @include wideblock;
    }
}

#state_openhashtag > div{
  @media #{$desktop}{
      width: 50%;
      margin-left:auto;
      margin-right:auto;
  }
}

/*Appearance*/
*{
  font-family: 'Ubuntu', sans-serif;
}

body{
    @media #{$desktop}{
        font-size: 16px;
    }
    @media #{$tablet}{
        font-size: 21px;
    }
    @media #{$mobile}{
        font-size: 20px;
    }
}

header{
  border-bottom: 2px dotted black;
}

footer{
  border-top : 2px dotted black;
}

header h1{
  @media #{$desktop}{
      font-size:3em; 
  }
  @media #{$tablet}{
      font-size:2em; 
  }
  @media #{$mobile}{
      font-size:1.61em; 
  }
  margin-bottom:2px;
}

header .subtitle{
  margin:0px;
  font-style: italic;
}

#state_mainpage.hidden{
  @media #{$mobile}{
      padding: 0px;
  }
}

#state_mainpage p{
  margin:0;
}

#state_mainpage > div{
  transition-property:opacity;
  transition-duration:300ms;
}

#state_mainpage.hidden > div{
  @media #{$desktop}, #{$tablet}{
      opacity:0.5;
  }
  @media #{$mobile}{
      display: none;
  }
}

@mixin state_mainpage_sizes($mq, $font-size){
    #state_mainpage .hashtags{
        @media #{$mq}{
            line-height:$font-size*(3/2);  
        }
    } 

    #state_mainpage .hashtags > a {
        @media #{$mq}{
            font-size: $font-size;
        }
    }
}
@include state_mainpage_sizes($desktop, 2em)
@include state_mainpage_sizes($tablet, 1.5em)
@include state_mainpage_sizes($mobile, 1.3em)

#state_mainpage .hashtags > a {
  color:black;
  text-decoration:none;
  @media #{$desktop}, #{$tablet}{
      margin-left:5px;
  }
  @media #{$mobile}{
      display: block;
  }
}


#state_mainpage > div > a:hover, #next_hashtag:hover, .employer a p:hover{
  text-decoration:underline; 
}

#state_openhashtag{
  overflow:hidden;
}

#state_openhashtag.hidden {
  height: 0px;
  padding: 0px;
}

#state_openhashtag> div {
  @media #{$desktop}, #{$tablet}{
      transition-property:transform;
      transition-duration:300ms;
  }
  transform:scaleY(1);
}

#state_openhashtag.hidden > div{
  transform:scaleY(0);
}

#state_openhashtag > div > *{
  padding:5px;
}

#state_openhashtag h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom : 1px;
  padding:5px;
}

#next_hashtag, #state_openhashtag h1{
  display:block;
  margin:0;
}

#next_hashtag{
  color:black;
  text-decoration:none;
  text-align:right;
}

#state_openhashtag > div > p{
  text-align:left;
  font-style:italic;
  margin:0;
}

#state_openhashtag > div > a[href="/"]:not(#next_hashtag){
    @include button;
}

#state_openhashtag > div > a[href="/"]:not(#next_hashtag){
  float:right;
}


#feature_representation h2, #feature_representation p{
  margin:0;
  margin-bottom:5px;
}

#feature_representation h2{
  margin-bottom:10px !important;
  @media #{$desktop}{
      font-size: 1.5em;
  }
  @media #{$tablet}{
      font-size: 1.6em;
  }
  @media #{$mobile}{
      font-size: 1.3em;
  }
}

#main_representation {
  background-color:#e2e2e2;
  border-bottom: none;
  padding:10px;
}

#feature_representation #explanation{
  background-color:#d2d2d2;
  margin:0;
  padding:5px;
}

#feature_representation .employer .hidden{
  display: none;
}

.employer{
    border-top: dotted 3px black;
    margin-top: 20px;
    padding-top: 10px;
} 

.employer a{
    color: initial;
    text-decoration: none;
}

.employer h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.8em;
    text-align: right;
    float: right;
}

.employer img, .employer .name{
    height: 1em;
    font-size: 1.1em;
    display: inline-block;
    vertical-align: middle;
}

.employer img{
    margin-right: 10px;
}

.employer h4{
    margin-top: 20px;
    margin-bottom: 5px;
}

.employer input{
  width: 100%;
  display: block;
  border: none;
  background-color:#e8e8e8;
  margin-top: 10px;
}

body{
  transition-property: background-color;
  transition-duration:300ms;
  
  &.video_only{
      background-color: #333333;

      @media #{$mobile}{
          header p, header h1, > div, > footer{
              display: none;
          }
      }
  }

}
